go 1.20

use (
	./back-end/services/catalog-service
	./back-end/services/gateway-service
	./back-end/services/authentication-service
	./back-end/services/analytics-service
	./back-end/services/customer-service
	./back-end/services/notification-service
	./back-end/services/cart-service
)
