go 1.20

use (
	./back-end/services/catalog
	./back-end/services/gateway
	./back-end/services/authentication
	./back-end/services/analytics
	./back-end/services/customer
	./back-end/services/notification
	./back-end/services/cart
)
